
 <!-- Page Aside-->
<aside class="aside bg-white">
  <div class="simplebar-wrapper">
    <div data-pixr-simplebar>
      <div class="pb-6">
        <!-- Mobile Logo-->
        <div
          class="d-flex d-xl-none justify-content-between align-items-center border-bottom aside-header"
        >
          <a
            class="navbar-brand lh-1 border-0 m-0 d-flex align-items-center"
            href="./"
          >
            <div class="d-flex align-items-center">
              <span class="fw-black text-uppercase tracking-wide fs-6 lh-1"
                >Zapstore</span
              >
            </div>
          </a>
          <i
            class="ri-close-circle-line ri-lg close-menu text-muted transition-all text-primary-hover me-4 cursor-pointer"
          ></i>
        </div>
        <!-- / Mobile Logo-->

        <ul class="list-unstyled mb-6">
          <!-- Dashboard Menu Section-->
          <li class="menu-section mt-2">Menu</li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/dashboard">
              <span class="menu-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="w-100"
                >
                  <rect
                    fill-opacity=".5"
                    fill="currentColor"
                    x="3"
                    y="3"
                    width="7"
                    height="7"
                  ></rect>
                  <rect
                    fill="currentColor"
                    x="14"
                    y="3"
                    width="7"
                    height="7"
                  ></rect>
                  <rect
                    fill-opacity=".5"
                    fill="currentColor"
                    x="14"
                    y="14"
                    width="7"
                    height="7"
                  ></rect>
                  <rect
                    fill="currentColor"
                    x="3"
                    y="14"
                    width="7"
                    height="7"
                  ></rect>
                </svg>
              </span>
              <span class="menu-link">
                Dashboard
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/users">
              <span class="menu-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 512 512"
                  style="enable-background: new 0 0 512 512"
                  xml:space="preserve"
                >
                  <path
                    fill="currentColor"
                    opacity=".5"
                    d="M155.327,57.142c-51.531,0-93.454,44.45-93.454,99.086c0,54.636,41.923,99.086,93.454,99.086s93.455-44.45,93.455-99.086
                                       C248.782,101.592,206.859,57.142,155.327,57.142z"
                  />

                  <path
                    fill="currentColor"
                    d="M367.798,71.321c-0.211,0-0.425,0.001-0.636,0.002c-21.626,0.179-41.826,9.31-56.878,25.713
                                       c-14.788,16.113-22.829,37.37-22.644,59.854c0.186,22.484,8.577,43.605,23.628,59.473c15.17,15.991,35.265,24.773,56.651,24.773
                                       c0.215,0,0.43-0.001,0.646-0.002c21.626-0.179,41.826-9.311,56.878-25.713c14.788-16.113,22.829-37.37,22.644-59.855
                                       C447.702,108.972,411.747,71.321,367.798,71.321z"
                  />

                  <path
                    fill="currentColor"
                    d="M371.74,257.358h-7.76c-36.14,0-69.12,13.74-94.02,36.26c6.23,4.78,12.16,9.99,17.78,15.61
                                       c16.58,16.58,29.6,35.9,38.7,57.42c8.2,19.38,12.88,39.8,13.97,60.83H512v-29.87C512,320.278,449.08,257.358,371.74,257.358z"
                  />

                  <path
                    fill="currentColor"
                    opacity=".5"
                    d="M310.35,427.478c-2.83-45.59-25.94-85.69-60.43-111.39c-25.09-18.7-56.21-29.77-89.92-29.77h-9.34
                                       C67.45,286.319,0,353.768,0,436.978v17.88h310.65v-17.88C310.65,433.788,310.55,430.618,310.35,427.478z"
                  />
                </svg>
              </span>
              <span class="menu-link">
                Users
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/category">
              <span class="menu-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-width="1" d="M20 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6h-2m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4"/>
                </svg>
                
              </span>
              <span class="menu-link">
                Category
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/brands">
              <span class="menu-icon">
                
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-width="1" d="M3 11h18M3 15h18m-9-4v8m-8 0h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
                </svg>
                
                
              </span>
              <span class="menu-link">
                Brands
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/addProducts">
              <span class="menu-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 5v14m8-7h-2m0 0h-2m2 0v2m0-2v-2M3 11h6m-6 4h6m11 4H4c-.55228 0-1-.4477-1-1V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1v12c0 .5523-.4477 1-1 1Z"/>
                </svg>
                
              </span>
              <span class="menu-link">
                Add Products
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/products">
              <span class="menu-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13 7h6l2 4m-8-4v8m0-8V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9h2m8 0H9m4 0h2m4 0h2v-4m0 0h-5m3.5 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-10 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                </svg>
                
              </span>
              <span class="menu-link">
                Products
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/orders">
              <span class="menu-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 8h6m-6 4h6m-6 4h6M6 3v18l2-2 2 2 2-2 2 2 2-2 2 2V3l-2 2-2-2-2 2-2-2-2 2-2-2Z"/>
                </svg>
                
              </span>
              <span class="menu-link">
                Orders
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/inventory">
              <span class="menu-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 8h6m-6 4h6m-6 4h6M6 3v18l2-2 2 2 2-2 2 2 2-2 2 2V3l-2 2-2-2-2 2-2-2-2 2-2-2Z"/>
                </svg>
                
              </span>
              <span class="menu-link">
                Inventory
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>

          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/coupons">
              <span class="menu-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"  fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.891 15.107 15.11 8.89m-5.183-.52h.01m3.089 7.254h.01M14.08 3.902a2.849 2.849 0 0 0 2.176.902 2.845 2.845 0 0 1 2.94 2.94 2.849 2.849 0 0 0 .901 2.176 2.847 2.847 0 0 1 0 4.16 2.848 2.848 0 0 0-.901 2.175 2.843 2.843 0 0 1-2.94 2.94 2.848 2.848 0 0 0-2.176.902 2.847 2.847 0 0 1-4.16 0 2.85 2.85 0 0 0-2.176-.902 2.845 2.845 0 0 1-2.94-2.94 2.848 2.848 0 0 0-.901-2.176 2.848 2.848 0 0 1 0-4.16 2.849 2.849 0 0 0 .901-2.176 2.845 2.845 0 0 1 2.941-2.94 2.849 2.849 0 0 0 2.176-.901 2.847 2.847 0 0 1 4.159 0Z"/>
                </svg>
                
              </span>
              <span class="menu-link">
                Coupons
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          <li class="menu-item">
            <a class="d-flex align-items-center" href="/admin/wallet">
              <span class="menu-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 6.5h2M11 18h2m-7-5v-2m12 2v-2M5 8h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1Zm0 12h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1Zm12 0h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1Zm0-12h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1Z"/>
                </svg>
                
              </span>
              <span class="menu-link">
                Wallet
                <!-- <span
                  class="badge bg-success-faded text-success pb-1 ms-2 align-middle rounded-pill"
                  >beta</span
                > -->
              </span></a
            >
          </li>
          
          <!-- / Dashboard Menu Section-->
        </ul>
      </div>
    </div>
  </div>
</aside>
<!-- / Page Aside-->
 <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="/assets/js/vendor.bundle.js"></script>

    <!-- Theme JS -->
    <script src="/assets/js/theme.bundle.js"></script>
  </body>
</html>
